.bgcolornav {
    background-color: rgb(19, 18, 18 , 1);
}
.bgcolorcard {
    background-color: rgb(145, 99, 1);
}
.colorwhite {
    color: white;
}
.colorboton {
    color: black;
}

.whitebackblack {
    @extend .bgcolornav;
    color: white;
     
    
}