*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@import "letra";
@import "imagenes";
@import "animaciones";
@import "colores";

nav{
    margin: 0;
    padding: 0;
    position: relative;

}

body {
    margin: 0;
    position: relative;
    padding-bottom: 3em;
    min-height: 100vh;
}

.footer {
    height:120px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

@media (max-width: 767px) {
    #ocultar {
        display: none;
     }
     
 }

 @media (min-width : 768px) {
    #contactooculto {
        display: none;
     }
 }




