 /* body{
    background-image: url(../imagenes/centro-cafe.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
} */
body {
    background-image: linear-gradient(to right, #040404, #262626, #454545, #666667, #898a8b, #898a8b, #8a8a8c, #8a8a8c, #676768, #464647, #272728, #070707);
}
.principal{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-transform: uppercase;
}
.secondtitle{
    display: flex;
    padding-left: 200px;
    color: white;
}
.principal__contacto{
    margin-bottom: 250px;
}
/* .listap {
    display: inline-block;
    margin-left: 175px;
    font-size: 20px;
    color: white;
    margin-top: 10px;
} */
 .negrita{
    padding: 20px 20px 20px 20px;
    font-weight: 600;
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:rgba(0, 0, 0 , 0,9);
    height: 550px;
    width: 200px;
    overflow: auto;
    margin-left: 100px;
    border: dotted 2px black;
    border-top: dotted 2px rgb(236, 115, 2);
    border-left: dotted 2px rgb(236, 115, 2);
}

footer{
    margin-top: 100px;
    padding-left: 100px;
}


.fuenteForm{
    font-size: 25px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
}

a{
        color: white;
}

.grilla{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    grid-template-rows: minmax(200px, auto);
    grid-gap: 15px;
    padding: 100px;
    grid-auto-flow: row;
    align-content: center;
}
.item{
    min-height: 200px;
    min-width: 100px;
}
.item:hover{
    display: flex;
    align-items: center;
    border-radius: 4px;
    justify-content: center;
    border: black 2px solid;
    transform: scale(1.2);
    align-content: center;
    

}

.imgh{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.imagen1{
    background-image: url(../imagenes/comidas.jpg);

}
.imagen2{
  background-image: url(../imagenes/bebidas.jpg);
 
}
.imagen3{
    background-image: url(../imagenes/postres.jpg);

}
.imagen4{
    background-image: url(../imagenes/Meriendas.jpg);
}
.imagen5{
    background-image: url(../imagenes/contacto.jpg);
}
.imagenpr
{
    background-image: url(../imagenes/centro-cafe.jpg);
}
.aq{
    background-image: url(../imagenes/aquariusmanzana.jpg);
}
.levman{
    background-image: url(../imagenes/Leviteman.jpg);
}
.coca{
    background-image: url(../imagenes/PFB000177.webp);
}
.sprite{
    background-image: url(../imagenes/Sprite\ 500\ ml.jpg);
}
.fanta{
    background-image: url(../imagenes/FANTA-NARANJA-X-500-ML.jpg);
}

